{% extends 'base-admin.html.twig' %}

{% block title %}BaseEntity{% endblock %}

{% block body %}
    <h1>BaseEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ base_entity.id }}</td>
            </tr>
            <tr>
                <th>MainImage</th>
                <td>{{ base_entity.mainImage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ base_entity.description }}</td>
            </tr>
            <tr>
                <th>DescriptionCurrentEvent</th>
                <td>{{ base_entity.descriptionCurrentEvent }}</td>
            </tr>
            <tr>
                <th>MapUrl</th>
                <td>{{ base_entity.mapUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('base_entity_index') }}">back to list</a>

    <a href="{{ path('base_entity_edit', {'id': base_entity.id}) }}">edit</a>

    {{ include('base_entity/_delete_form.html.twig') }}
{% endblock %}
