{% extends 'base.html.twig' %}

{% block title %}Base sous marine{% endblock %}

{% block body %}
<div class="container">
<header class="header">
    <a class="logo__link" href="/">
        <img alt="logo" class="logo__image" src="{{ asset('images/logo.png') }}" />
    </a>
    <div class="nav">
        <div class="history">
            <button class="history__button" id="historyOpen">
                <img class="history__image" src="{{ asset('images/icon-histoire.png') }}" />
                <p class="history__text">Histoire de la Base</p>
            </button>
        </div>
        <div class="translation">
            <p class="translation__text">
                <button class="translation__button">fr</button>
                /
                <button class="translation__button">en</button>
            </p>
        </div>
        <div class="history__container">
            <div class="history__header">
                <a class="logo__link" href="/">
                    <img alt="logo" class="logo__image" src="{{ asset('images/logo.png') }}" />
                </a>
                <button class="history__button" id="historyClose">
                    <img alt="close" class="history__close" src="{{ asset('images/icon-fermer.png') }}" />
                </button>
            </div>
            <div class="history__content">
                <div class="entities">
                    <img class="entities__image" src="{{ asset('images/mase-base-sous-marine.png') }}" />
                </div>
                <div class="explanation">
                    <h2 class="explanation__title">BASE SOUS MARINE DE BORDEAUX</h2>
                    <p class="explanation__text">La Base sous-marine de Bordeaux est l’une des cinq bases construites à l’initiative de la Kriegsmarine (marine de guerre allemande) sur le littoral atlantique français. Conçue pour perdurer des siècles, la Base sous-marine venait alors compléter le « Mur de l’Atlantique », vaste complexe défensif en bordure du littoral.</p>
                    <img class="entities__image-explanation" src="{{ asset('images/mase-base-sous-marine.png') }}" />
                    <h3 class="explanation__subtitle">Base 3 en 1</h3>
                    <p class="explanation__text">2020 marque un tournant dans l’histoire de la Base sous-marine avec l’arrivée de la société Culturespace et de ses Bassins de Lumières. Ainsi, la Base sous-marine de Bordeaux est désormais divisée en troisespacesdistincts pour s’inscrire dans le projet base 3 en 1</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="wrapper" id="pinContainer">
    <section class="content one">
        <div class="content__container">
            <div class="images__container">
                <img class="content__image one" alt="l'image" src="https://via.placeholder.com/494x662" />
                <div class="content__logo one">
                    <img class="" alt="l'image" src="https://via.placeholder.com/190x62" />
                </div>
                <button class="arrow one">
                    <p><--</p>
                    <p>Le centre</p>
                </button>
                <div class="numbers one">
                    <img class="numbers__image one" alt="number" src="{{ asset('images/chiffre1.png') }}" />
                    <img class="numbers__reflect one" alt="reflect" src="{{ asset('images/chiffre1-reflet.png') }}" />
                </div>
            </div>

            <div class="content__text-wrapper one">
                <div class="content__text">
                    <h2 class="content__title">Le centre 1</h2>
                    <p class="content__description">Les espaces d’expositions pilotés par la Direction générale des affaires culturelles de la Ville de Bordeaux, sont temporairement fermés pour des travaux de rénovation ! </p>
                    <p class="content__description">Ils ré-ouvriront au premier trimestre 2021 à l’occasion d’une exposition collective intégrée à la saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                    <p><a>Itineraire</a></p>
                    <p><a>Site web</a></p>
                    <div class="current">
                        <div class="current__content">
                            <div class="current__title-container"><p class="current__title">En ce moment</p></div>
                            <p class="current__text">Saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                        </div>
                        <img class="current__plan" src="{{ asset('images/plan-centre.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content two">
        <div class="content__container">
            <div class="images__container">
                <img class="content__image two" alt="l'image" src="https://via.placeholder.com/494x662" />
                <div class="content__logo two">
                    <img class="" alt="l'image" src="https://via.placeholder.com/190x62" />
                </div>
                <button class="arrow next two">
                    <p>Le bassins des lumières</p>
                    <p>--></p>
                </button>
                <div class="numbers two">
                    <img class="numbers__image two" alt="number" src="{{ asset('images/chiffre1.png') }}" />
                    <img class="numbers__reflect two" alt="reflect" src="{{ asset('images/chiffre1-reflet.png') }}" />
                </div>
                <div class="numbers twocheh">
                    <img class="numbers__image twocheh" alt="number" src="{{ asset('images/chiffre1.png') }}" />
                    <img class="numbers__reflect twocheh" alt="reflect" src="{{ asset('images/chiffre1-reflet.png') }}" />
                </div>
            </div>

            <div class="content__text-wrapper two">
                <div class="content__text two">
                    <h2 class="content__title">Le centre 2</h2>
                    <p class="content__description">Les espaces d’expositions pilotés par la Direction générale des affaires culturelles de la Ville de Bordeaux, sont temporairement fermés pour des travaux de rénovation ! </p>
                    <p class="content__description">Ils ré-ouvriront au premier trimestre 2021 à l’occasion d’une exposition collective intégrée à la saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                    <p><a>Itineraire</a></p>
                    <p><a>Site web</a></p>
                    <div class="current">
                        <div class="current__content">
                            <div class="current__title-container"><p class="current__title">En ce moment</p></div>
                            <p class="current__text">Saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                        </div>
                        <img class="current__plan" src="{{ asset('images/plan-centre.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content three">
        <div class="content__container">
            <div class="images__container">
                <img class="content__image three" alt="l'image" src="https://via.placeholder.com/494x662" />
                <div class="content__logo three">
                    <img class="" alt="l'image" src="https://via.placeholder.com/190x62" />
                </div>
                <div class="numbers three">
                    <img class="numbers__image three" alt="number" src="{{ asset('images/chiffre1.png') }}" />
                    <img class="numbers__reflect three" alt="reflect" src="{{ asset('images/chiffre1-reflet.png') }}" />
                </div>
            </div>

            <div class="content__text-wrapper three">
                <div class="content__text">
                    <h2 class="content__title">Le centre 3</h2>
                    <p class="content__description">Les espaces d’expositions pilotés par la Direction générale des affaires culturelles de la Ville de Bordeaux, sont temporairement fermés pour des travaux de rénovation ! </p>
                    <p class="content__description">Ils ré-ouvriront au premier trimestre 2021 à l’occasion d’une exposition collective intégrée à la saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                    <p><a>Itineraire</a></p>
                    <p><a>Site web</a></p>
                    <div class="current">
                        <div class="current__content">
                            <div class="current__title-container"><p class="current__title">En ce moment</p></div>
                            <p class="current__text">Saison culturelle Africa 2020 initiée par l’Institut Français.</p>
                        </div>
                        <img class="current__plan" src="{{ asset('images/plan-centre.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

{% endblock %}
